<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Invoices</title>
      <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
      <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
      <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
      <link rel="stylesheet" href="../../vendors/icheck/skins/all.css">
      <link rel="stylesheet" href="../../css/style.css">
      <link rel="shortcut icon" href="../../images/favicon.png" />
      <script src="../../angular.min.js"></script>
      
      <script src="../../js/invoice.js"></script>
      <script src="../../vendors/angular-moment-picker/moment-with-locales.js"></script>
      <script src="../../vendors/angular-moment-picker/angular-moment-picker.min.js"></script>
      <script src="../../vendors/angular-translate/angular-translate.js"></script>
   </head>


         <div class="content-wrapper" ng-init="initialLoad()" ng-app="myApp" ng-controller="invoiceCtrl">
            <div class="row">
               <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                     <div class="card-body">
                        <div class="col-md-12">
                           <div class="row">
                              <div class="col-md-4 col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                                 <div class="card card-statistics">
                                    <div class="card-body">
                                       <div class="clearfix">
                                          <div class="float-left">
                                             <img src="../../images/logo.svg" alt="logo" class="invoiceLogo">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-3 grid-margin stretch-card"> </div>
                              <div class="col-md-6 grid-margin stretch-card">
                                 <div class="card">
                                    <div class="card-body">
                                       <div class="row">
                                          <div class="col-md-6">
                                             <address class="text-primary">
                                                <p class="mb-2">
                                                   {{companyData.email}}
                                                </p>
                                                <p>
                                                   {{companyData.mobile_no}}
                                                </p>
                                                <p>
                                                   {{companyData.website}}
                                                </p>
                                             </address>
                                          </div>
                                          <div class="col-md-6">
                                             <address>
                                                <p class="font-weight-bold">{{companyData.company_name}}</p>
                                                <p>
                                                   {{companyData.address_line1}}
                                                </p>
                                                <p>
                                                   {{companyData.address_line2}}
                                                </p>
                                                <p>
                                                   {{companyData.city}}, {{companyData.state}}
                                                </p>
                                                <p>
                                                   {{companyData.pincode}}
                                                </p>
                                             </address>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row" style="margin-top:-6%">
                              <div class="col-md-12 grid-margin">
                                 <div class="card">
                                    <div class="card-body">
                                       <div class="row d-none d-sm-flex mb-4">
                                          <div class="col-4">
                                             <h5 class="text-primary">Bill To</h5>
                                             <address>
                                                <p class="font-weight-bold">{{clientFormData.client_name}}</p>
                                                <p>
                                                   {{clientFormData.address_line1}}
                                                </p>
                                                <p>
                                                   {{clientFormData.address_line2}}
                                                </p>
                                                <p>
                                                   {{clientFormData.city}}, {{clientFormData.state}}
                                                </p>
                                                <p>
                                                   {{clientFormData.pincode}}
                                                </p>
                                                <p>
                                                   {{clientFormData.mobile_no}}
                                                </p>
                                             </address>
                                          </div>
                                          <div class="col-4">
                                             <h5 class="text-primary">Purchased Date</h5>
                                             <p>{{clientFormData.purchased_date}}</p>
                                             <h5 class="text-primary">Due Date</h5>
                                             <p>{{clientFormData.issued_date}}</p>
                                          </div>
                                          <div class="col-4">
                                             <h5 class="text-primary">Invoice Ref</h5>
                                             <p>{{clientFormData.invoice_id}}</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row" style="margin-top:-6%">
                              <div class="col-md-12 grid-margin">
                                 <div class="card">
                                    <div class="card-body">
                                       <div class="table-responsive">
                                          <table class="table table-bordered">
                                             <thead>
                                                <tr>
                                                   <th>
                                                      {{"PRODUCT_DESCRIPTION_PLACEHOLDER" | translate }}
                                                   </th>
                                                   <th>
                                                      {{"QUANTITY" | translate }}
                                                   </th>
                                                   <th>
                                                      {{"PRICE" | translate }}
                                                   </th>
                                                   <th>
                                                      {{"DISCOUNT" | translate }}
                                                   </th>
                                                   <th>
                                                      {{"GST" | translate }}
                                                   </th>
                                                   <th>
                                                      {{"TOTAL" | translate }}
                                                   </th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr ng-repeat="product in invoiceProductData" ng-init="productIndex = $index">
                                                   <td class="py-1">
                                                      {{product.product_name}}
                                                   </td>
                                                   <td>
                                                      {{product.quantity}}
                                                   </td>
                                                   <td>
                                                      $ {{product.price}}
                                                   </td>
                                                   <td>
                                                      {{product.discountAmount}}
                                                   </td>
                                                   <td>
                                                      {{product.gstAmount}}
                                                   </td>
                                                   <td>
                                                      {{product.priceAfterDiscountForProduct}}
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td class="py-1">
                                                      <b>Shipping Charge</b>
                                                   </td>
                                                   <td>
                                                      1  
                                                   </td>
                                                   <td>
                                                      $ {{clientFormData.shippingCharge}}
                                                   </td>
                                                   <td>
                                                      0
                                                   </td>
                                                   <td>
                                                      {{clientFormData.shipping_tax_amount | number :2 }}
                                                   </td>
                                                   <td>
                                                      {{clientFormData.shippingChargesWithTax}}
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <div class="row" style="float:right; margin-right: 7%">
                                             <strong>{{"TOTAL" | translate }} </strong> : &nbsp;&nbsp;
                                             {{clientFormData.finalAllProductsAmount +  clientFormData.shippingChargesWithTax}}
                                          </div>
                                       </div>
                                      
                                        <button type="submit" ng-click="closePopup()" class="btn btn-success mr-2" style="margin-top:10px; float: right !important;">{{"Cancel" | translate }}</button>         
                                      
                                        <a href="./invoice.view.html">
                                            <button type="submit" class="btn btn-success mr-2" style="margin-top:10px; float: right !important;">{{"Print" | translate }}</button>         
                                        </a>
                                        <a href="./invoice.add.html#?invoiceId={{clientFormData.invoice_id}}"  >
                                            <button type="submit" class="btn btn-success mr-2" style="margin-top:10px; float: right !important;">{{'Edit' | translate }}</button>         
                                        </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
</html>

<!-- 
       <div class="col-lg-12 grid-margin stretch-card">
                          <div class="card">
                           <div class="card-body">
                             <div class="col-md-12">
                             <div class="row">  
                             <div class="col-md-4 col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                              
                              <div class="card card-statistics">
                                <div class="card-body">
                                  <div class="clearfix">
                                    <div class="float-left">
                                      <img src="../../images/logo.svg" alt="logo" class="invoiceLogo">
                                    </div>
                                  </div>
                                 </div>
                              </div>
                            </div>
                            <div class="col-md-3 grid-margin stretch-card"> </div>  
                            
                            <div class="col-md-6 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <address class="text-primary">
                                        <p class="mb-2">
                                          {{companyData.email}}
                                        </p>
                                        <p>
                                            {{companyData.mobile_no}}
                                        </p>
                                        <p>
                                            {{companyData.website}}
                                        </p>
                                      </address>
                                    </div>

                                    <div class="col-md-6">
                                     
                                      <address>
                                        <p class="font-weight-bold">{{companyData.company_name}}</p>
                                        <p>
                                            {{companyData.address_line1}}
                                        </p>
                                        <p>
                                            {{companyData.address_line2}}
                                        </p>
                                        <p>
                                            {{companyData.city}}, {{companyData.state}}
                                        </p>
                                        <p>
                                            {{companyData.pincode}}
                                        </p>
                                      </address>
                                    </div>
                                    
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>

                          <div class="row" style="margin-top:-6%">
                              <div class="col-md-12 grid-margin">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="row d-none d-sm-flex mb-4">
                                      <div class="col-4">
                                        <h5 class="text-primary">Bill To</h5>
                                        <address>
                                            <p class="font-weight-bold">{{clientFormData.client_name}}</p>
                                            <p>
                                              {{clientFormData.address_line1}}
                                            </p>
                                            <p>
                                              {{clientFormData.address_line2}}
                                            </p>
                                            <p>
                                                {{clientFormData.city}}, {{clientFormData.state}}
                                            </p>
                                            <p>
                                               {{clientFormData.pincode}}
                                            </p>
                                            <p>
                                              {{clientFormData.mobile_no}}
                                            </p>
                                          </address>
                                      </div>
                                      <div class="col-4">
                                        <h5 class="text-primary">Purchased Date</h5>
                                        <p>{{clientFormData.purchased_date}}</p>
                                        <h5 class="text-primary">Due Date</h5>
                                        <p>{{clientFormData.issued_date}}</p>
                                      </div>
                                      
                                      <div class="col-4">
                                        <h5 class="text-primary">Invoice Ref</h5>
                                        <p>{{clientFormData.invoice_id}}</p>
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>

                <div class="row" style="margin-top:-6%">
                    <div class="col-md-12 grid-margin">
                  <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>
                                  {{'PRODUCT_DESCRIPTION_PLACEHOLDER' | translate }}
                                </th>
                                <th>
                                    {{'QUANTITY' | translate }}
                                </th>
                                <th>
                                  {{'PRICE' | translate }}
                                </th>
                                <th>
                                  {{'DISCOUNT' | translate }}
                                </th>
                                <th>
                                  {{'GST' | translate }}
                                </th>
                                <th>
                                  {{'TOTAL' | translate }}
                                </th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr ng-repeat="product in invoiceProductData" ng-init="productIndex = $index">
                                <td class="py-1">
                                 {{product.product_name}}
                                </td>
                                <td>
                                     {{product.quantity}}
                                </td>
                                <td>
                                  $ {{product.price}}
                                </td>
                                
                                <td>
                                  {{product.discountAmount}}
                                </td>
                                <td>
                                  {{product.gstAmount}}
                                </td>
                                <td>
                                  {{product.priceAfterDiscountForProduct}}
                                </td>
                              </tr>

                              <tr>
                                  <td class="py-1">
                                   <b>Shipping Charge</b>
                                  </td>
                                  <td>
                                     1  
                                  </td>
                                  <td>
                                    $ {{clientFormData.shippingCharge}}
                                  </td>
                                  
                                  <td>
                                    0
                                  </td>
                                  <td>
                                    {{clientFormData.shipping_tax_amount | number :2 }}
                                  </td>
                                  <td>
                                    {{clientFormData.shippingChargesWithTax}}
                                  </td>
                              </tr>
                            </tbody>
                            
                          </table>
                          <div class="row" style="float:right; margin-right: 7%">
                          
                              <strong>{{'TOTAL' | translate }} </strong> : &nbsp;&nbsp;
                              {{clientFormData.finalAllProductsAmount +  clientFormData.shippingChargesWithTax}}
                            
                        </div>
                        </div>
                        <a href="./invoice.add.html#?invoiceId={{clientFormData.invoice_id}}"  >
                          <button type="submit" class="btn btn-success mr-2" style="margin-top:10px; float: right !important;">{{'Edit' | translate }}</button>         
                        </a>
                       
                        <a href="./invoice.printpreview.html#?invoiceId={{clientFormData.invoice_id}}"  >
                          <button type="submit" class="btn btn-success mr-2" style="margin-top:10px; float: right !important;">{{'View' | translate }}</button>         
                        </a>
                       
                      
                         
                      </div>
                    </div>     
                  </div>
                           
                  </div>
                         

                            </div>
                            </div>
                            </div>

                      </div>

-->