<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <script src="../../vendors/js/jquery.min.js"></script>
    <script src="../../jquery.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.light.css" />
    <script src="../../angular.min.js"></script>

    <script src="https://cdn3.devexpress.com/jslib/18.1.6/js/dx.all.js"></script>
    <script src="data.js"></script>
    <link rel="stylesheet" type ="text/css" href ="styles.css" />
    <script src="index.js"></script>
</head>
<body>
    <div class="dx-viewport demo-container" ng-app="DemoApp" ng-controller="DemoController">
        <div id="popup">
        
            <h1>Employees</h1>
        
            <ul>
                <li ng-repeat="employee in employees">
                    <img ng-src="{{employee.Picture}}"/><br/>
                    <i>{{employee.FirstName}} {{employee.LastName}}</i><br/>
                    <div class="button-info" dx-button="{ 
                        text: 'Details', 
                        onClick: showInfo 
                    }"></div>
                </li>
            </ul>
        
            <div ng-init="currentEmployee">
                <div class="popup" 
                    dx-popup="popupOptions">
                    <div data-options="dxTemplate: { name:'info' }">
                        <p>
                            Full Name:
                            <span>{{currentEmployee.FirstName}}</span> 
                            <span>{{currentEmployee.LastName}}</span>
                        </p>            
                        <p>
                            Birth Date:
                            <span>{{currentEmployee.BirthDate}}</span>
                        </p>
                        <p>
                            Address:
                            <span>{{currentEmployee.Address}}</span>
                        </p>
                        <p>
                            Hire Date:
                            <span>{{currentEmployee.HireDate}}</span>
                        </p>
                        <p>
                            Position:
                            <span>{{currentEmployee.Position}}</span>
                        </p>
                    </div>
                </div>    
            </div>
            
        </div>
    </div>

</body>
</html>